<!--
  Generated template for the AccountRecovery page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Account Recovery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
      <ion-item *ngFor="let m of messages">
        {{m}}

      </ion-item>
      <ion-item text-wrap>
      	Enter your recovery code below to recovery your account.
      	Use this when you lose or switch devices.
  	  </ion-item>
  </ion-list>

			<ion-list>

	      <ion-item>
	      	<ion-label stacked>Select Account</ion-label>
	  	    <ion-select [(ngModel)]="selectedAccount">
	          <ion-option value="-1">Choose Stellar Account</ion-option>
	          <ion-option *ngFor="let a of accounts" value="{{a.account_id}}">{{a.account_id}}</ion-option>
	  			</ion-select>
	  	  </ion-item>
	      <ion-item>
	        <ion-label stacked>Recovery Code</ion-label>
	        <ion-input type="text" [(ngModel)]="recovery_code" name="recovery_code" required></ion-input>
	      </ion-item>
		  </ion-list>


	    <ion-list>
	      <div padding>
	        <button ion-button color="primary" block (click)="showPrompt()">Recover</button>
	      </div>

	    </ion-list>


</ion-content>
